@charset "utf-8";

@font-face {
  font-family: 'JeonjuCraftGoR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'JeonjuCraftGoR';
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: #555;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}

/* header */
header {
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
}

h1 {
  margin-left: 50px;
}

h1 a {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  color: #555;
}

h1 a:hover {
  text-shadow: 0 0 12px #ffd779;
}

.menubar {
  height: 50px;
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

.close {
  cursor: pointer;
  display: none;
}

nav ul {
  display: flex;
  margin-right: 20px;
}

nav ul li {
  padding: 4px 10px 0;
  letter-spacing: 0.2rem;
}

nav ul li a::after {
  content: "";
  display: block;
  padding-bottom: 2px;
  border-bottom: #ffd779ad 4px solid;
  transition: all 250ms ease-out;
  transform: scaleX(0);
}

nav ul li a:hover::after {
  transition: all 250ms ease-out;
  transform: scaleX(1);
}



/* common section */
.page {
  padding: 20px 0 60px;
}

.bgOpacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 88;
  opacity: 0;
  pointer-events: none;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

h3 {
  margin: 100px 0 10px;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.fontAwesome,
.fontAwesome a,
i {
  font-size: 1.2rem;
  padding-left: 2px;
}

/* MAIN */
#main {
  height: 100vh;
  background: url(images/bg1.png) no-repeat center/cover fixed;
  position: relative;
}

.hello {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-align: center;
}

.hello p {
  font-size: 1.3rem;
  margin-top: 20px;
}

/* ABOUT */
.aboutWrap {
  width: 76%;
  margin: 150px auto 50px;
  display: flex;
  justify-content: space-around;
}

#about img {
  max-width: 46%;
  margin-right: 20px;
}

.aboutWrap h3 {
  margin: 10px 0 30px;
  letter-spacing: 0;
  text-align: left;
}

.aboutDesc {
  width: 50%;
}

.aboutDesc span {
  font-size: 1.2rem;
  line-height: 2rem;
}

.fontAwesome {
  margin-top: 16px;
  display: flex;
}

.studyDesc {
  margin-left: 20px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  transform: translate(0, -4px);
  z-index: -1;
}

.studyDesc li {
  list-style-type: disc;
  font-size: 1.2rem;
  padding-bottom: 12px;
}

/* SKILLS */
.skillsList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  text-align: center;
  transition: all 0.3s ease;
}

.skillsList img {
  width: 84%;
  border-radius: 12px;
}

.skillsList img:hover {
  transform: translate(4px, 4px);
  box-shadow:
    7px 7px 20px 0px #0002,
    10px 10px 10px 0px #0001;
  ;
}

/* animation */
@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* WORKS */
#works {
  position: relative;
}

.preview {
  width: 75%;
  margin: 80px auto 50px;
  display: flex;
  justify-content: space-evenly;
}

.preview img {
  width: 24%;
  cursor: pointer;
  outline: 1px solid #c9c9c950;
}

.preview img:hover,
.project img:hover {
  box-shadow:
    -7px 7px 20px 0px #0002,
    -10px 10px 10px 0px #0001,
    7px 7px 20px 0px #0002,
    10px 10px 10px 0px #0001;
  ;
}

.tabWrap {
  width: 70%;
  margin: 0 auto;
}

.tabTitle {
  display: flex;
}

.tab {
  background-color: #999999;
  color: #eee;
  padding: 10px 20px;
  margin-right: 2px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabOn {
  background-color: #e7e7e7;
  color: #eb7979;
  font-weight: bold;
}

.project {
  background-color: #e7e7e7;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  display: none;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.contentOn {
  display: flex;
}

.project>a {
  width: 80%;
  margin: auto 0;
  margin-right: 40px;
}

.projectDesc {
  width: 80%;
}

.projectDesc span,
.projectDesc p,
.projectDesc a {
  padding: 4px 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: fit-content;
}

.projectDesc span {
  display: block;
  font-size: 1.5rem;
  margin: 12px 0 8px;
  padding: 10px;
}

.popup {
  color: #555;
}

.popup:hover,
.projectDesc a:hover {
  font-weight: bolder;
}

/* modal popup */
.modal {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 70%;
  background: #fafafa;
  border-radius: 20px;
  font-size: 1.2rem;
  display: none;
  z-index: 999;
}

.modalHead {
  background: #ffd679;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.modalHead li {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: bolder;
}

.modalContent {
  padding: 0 30px;
  height: 400px;
  overflow: auto;
}

.modalContent h4 {
  font-size: 1.3rem;
  margin: 20px 0 10px;
}

.modalContent h5 {
  font-size: 1.2rem;
  margin: 8px 0 4px;
}

.modalContent>li>p {
  padding: 2px 0;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.modal span {
  display: block;
  width: 50px;
  margin: 30px auto;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  background-color: #c9c9c9;
}

.modal span:hover {
  background-color: #949494;
  color: #fafafa;
}

.modalOn {
  display: block;
}


/* CONTACT */
#contact {
  background: url(images/bg2.jpg) no-repeat center/cover fixed;
  color: #fafafa;
}

.contactWrap {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 80px 10% 40px;
}

.contactDesc p {
  font-size: 2.5em;
}

.faWrap {
  margin-top: 60px;
  padding: 10px 20px 20px;
  background-color: rgba(194, 194, 194, 0.3);
  border-radius: 20px;
}

.faWrap a {
  color: #fafafa;
}

/* footer */
footer {
  height: 100px;
  background: #555;
  color: #eee;
  text-align: center;
  padding-top: 20px;
}

footer span {
  display: block;
  padding: 4px;
}


/* media - tablet */
@media(max-width:800px) {

  /* header */
  h1 {
    margin-left: 30px;
  }

  h1 a {
    font-size: 1.4rem;
  }

  nav ul {
    margin-right: 10px;
  }

  nav ul li {
    padding-right: 4px;
    letter-spacing: 0.1rem;
  }

  nav ul li a {
    font-size: 0.9rem;
  }



  /* common */
  h3 {
    margin-top: 50px;
    font-size: 1.8rem;
  }

  .fontAwesome,
  .fontAwesome a,
  i {
    font-size: 1rem;
  }

  /* ABOUT */
  .aboutWrap {
    display: block;
    margin: 70px auto 20px;
  }

  #about img {
    max-width: 100%;
  }

  .aboutDesc {
    width: 100%;
  }

  .aboutDesc h3 {
    margin: 32px 0 12px;
    width: 100%;
    font-size: 1.3rem;
  }

  .aboutDesc span,
  .aboutDesc a,
  .studyDesc li {
    font-size: 1.1rem;
  }

  /* SKILLS */
  .use span {
    font-size: 1.3rem;
  }

  /* WORKS */
  .contentOn {
    display: block;
  }

  .project>a {
    margin-right: 20px;
  }

  .projectDesc span,
  .projectDesc p,
  .projectDesc a {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .projectDesc span {
    font-size: 1.3rem;
  }

  .modalHead {
    height: 50px;
  }

  .modalHead li {
    font-size: 1.3rem;
  }

  .modalContent h4 {
    font-size: 1.2rem;
  }

  .modalContent h5 {
    font-size: 1.1rem;
  }

  .modalContent>li>p {
    font-size: 1rem;
  }

  /* CONTACT */
  .contactWrap {
    margin: 40px 10% 20px;
  }

  .contactDesc p {
    font-size: 1.6rem;
  }

  .faWrap {
    margin-top: 40px;
  }
}

@media(max-width: 521px) {

  /* nav */
  nav {
    display: none;
    width: 240px;
    height: 100vh;
    background-color: #555;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

  }

  .close {
    display: block;
  }

  nav ul {
    margin-right: 0;
    display: block;
    padding: 100px 20px;
  }

  nav ul li {
    margin-top: 14px;

  }

  nav ul li a {
    color: #ccc;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }

  nav .close img {
    position: absolute;
    height: 30px;
    top: 20px;
    right: 30px;
  }

  .menubar {
    display: block;
  }


  /* MAIN */
  .hello {
    width: 400px;
  }

  .hello h2 {
    font-size: 2.2rem;
  }

  .hello p {
    font-size: 1.2rem;
  }

  /* SKILLS */
  .skillsWrap {
    display: block;
  }

  .use span {
    margin-top: 32px;
  }

  /* WORKS */
  .contactDesc p {
    font-size: 1.2rem;
  }
}

/* media query - mobile */
@media(max-width:390px) {

  /* MAIN */
  .hello {
    width: 300px;
  }

  .hello h2 {
    font-size: 1.6rem;
  }

  .hello p {
    font-size: 0.9rem;
  }

  /* FOOTER */
  footer span {
    font-size: 0.9rem;
  }
}