@charset "utf-8";

@font-face {
  font-family: 'JeonjuCraftGoR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'JeonjuCraftGoR';
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: #555;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}

/* header */
header {
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
}

h1 {
  margin-left: 50px;
}

h1 a {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  color: #555
}

nav ul {
  display: flex;
  margin-right: 20px;
}

nav ul li {
  padding: 0 10px;
  letter-spacing: 0.2rem;
}

nav ul li::after {
  content: "";
  display: block;
  padding-bottom: 2px;
  border-bottom: #ffd779ad 4px solid;
  transition: all 250ms ease-out;
  transform: scaleX(0);
}

nav ul li:hover::after {
  transition: all 250ms ease-out;
  transform: scaleX(1);
}




/* common section */
.page {
  padding: 20px 0 60px;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

h3 {
  margin: 100px 0 10px;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.fontAwesome,
.fontAwesome a,
i {
  font-size: 1.2rem;
  padding-left: 2px;
}

/* MAIN */
#main {
  height: 100vh;
  background: url(images/bg1.png) no-repeat center/100% fixed;
  position: relative;
}

.hello {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-align: center;
}

.hello p {
  font-size: 1.3rem;
  margin-top: 20px;
}

/* ABOUT */
.aboutWrap {
  width: 65%;
  margin: 150px auto 50px;
  display: flex;
  justify-content: space-around;
}

#about img {
  max-width: 50%;
  margin-right: 20px;
}

.aboutWrap h3 {
  margin: 10px 0 30px;
  letter-spacing: 0;
  text-align: left;
}

.aboutDesc {
  width: 50%;
}

.aboutDesc span {
  font-size: 1.2rem;
  line-height: 2rem;
}

.fontAwesome {
  margin-top: 16px;
  display: flex;
}

.studyDesc {
  padding-left: 4px;
  font-size: 1.2rem;
  line-height: 2rem;
  transform: translate(0, -4px);
  z-index: -1;
}

/* SKILLS */
.skillsWrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.skillsWrap img {
  width: 80%;
}

.use {
  text-align: center;
  transition: all 0.3s ease;
}

.use img {
  border-radius: 12px;
}

.use img:hover {
  transform: translate(4px, 4px);
  box-shadow:
    7px 7px 20px 0px #0002,
    10px 10px 10px 0px #0001;
  ;
}

.use span {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 8px;
}

/* WORKS */
#works {
  position: relative;
}

.preview {
  width: 75%;
  margin: 80px auto 50px;
  display: flex;
  justify-content: space-evenly;
}

.preview img {
  width: 24%;
  cursor: pointer;
  outline: 1px solid #c9c9c950;
}

.preview img:hover {
  box-shadow:
    -7px 7px 20px 0px #0002,
    -10px 10px 10px 0px #0001,
    7px 7px 20px 0px #0002,
    10px 10px 10px 0px #0001;
  ;
}

.tabWrap {
  width: 70%;
  margin: 0 auto;
}

.tabTitle {
  display: flex;
}

.tab {
  background-color: #999999;
  color: #eee;
  padding: 10px 20px;
  margin-right: 2px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabOn {
  background-color: #e7e7e7;
  color: #eb7979;
  font-weight: bold;
}

.project {
  background-color: #e7e7e7;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  display: none;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.contentOn {
  display: flex;
}

.project img {
  margin-right: 20px;
}

.project a {
  max-width: 50%;
}

.projectDesc {
  width: 40%;
}

.projectDesc span,
.projectDesc p,
.projectDesc a {
  display: block;
  padding: 4px 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.project span {
  font-size: 1.5rem;
  margin: 16px 0;
}

.popup {
  color: #555;
}

.popup:hover,
.projectDesc a:hover {
  font-weight: bolder;
}

/* modal popup */
.bg {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 103vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 70%;
  background: #fafafa;
  border-radius: 20px;
  font-size: 1.2rem;
  display: none;
}

.modalHead {
  background: #ffd679;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalHead li {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: bolder;
}

.modalContent {
  padding: 8px 30px;
  height: 400px;
  overflow: auto;
}

.modalContent h4 {
  font-size: 1.3rem;
  margin: 20px 0 10px;
}

.modalContent h5 {
  font-size: 1.2rem;
  margin: 8px 0 4px;
}

.modalContent > li > p {
  padding: 2px 0;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.modal span {
  display: block;
  width: 50px;
  margin: 30px auto;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  background-color: #c9c9c9;
}

.modal span:hover {
  background-color: #949494;
  color: #fafafa;
}

.modalOn {
  display: block;
}


/* CONTACT */
#contact {
  background: url(images/bg2.jpg) no-repeat center/100% fixed;
  color: #fafafa;
}

.contactWrap {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 80px 10% 40px;
}

.contactDesc p {
  font-size: 2.5em;
}

.faWrap {
  width: 300px;
  margin-top: 60px;
  padding: 20px 30px;
  background-color: rgba(194, 194, 194, 0.3);
  border-radius: 20px;
}

/* footer */
footer {
  height: 100px;
  background: #555;
  color: #eee;
  text-align: center;
  padding-top: 20px;
}

footer span {
  display: block;
  padding: 4px;
}