@charset "utf-8";

@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'NEXON Lv2 Gothic';
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid lightcoral; */
}

a {
  color: #555;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* hidden scrollbar */
/*
html::-webkit-scrollbar {
  display: none;
}
*/

/* header */
header {
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  z-index: 999;
}

h1 a {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  color: #555
}

nav ul {
  display: flex;
  margin-right: 20px;
}

nav ul li {
  padding: 0 10px;
  letter-spacing: 0.2rem;
}

/* common section */
/* scroll-snap */
#wrap {
  width: 100%;
  /* height: 100vh; */
  /* overflow: scroll; */
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

#wrap .page {
  scroll-snap-align: center;
  display: inline-block;
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

h3 {
  margin: 100px 0 10px;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.fontAwesome,
.fontAwesome a,
  i {
  font-size: 1.3rem;
  padding-left: 2px;
}

/* MAIN */
#main {
  background: url(images/bg1.png) no-repeat center/100% fixed;
  position: relative;
}

.hello {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-align: center;
}

.hello p {
  font-size: 1.3rem;
  margin-top: 20px;
}

/* ABOUT */
.aboutWrap {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  translate: 0 50%;
}

#about img {
  max-width: 50%;
  margin-right: 20px;
}

.aboutWrap h3 {
  margin: 10px 0 30px;
  letter-spacing: 0;
  text-align: left;
}

.aboutDesc {
  width: 50%;
}

.aboutDesc  span {
  font-size: 1.3rem;
  line-height: 2rem;
}

.fontAwesome{
  margin-top: 16px;
  display: flex;
}

.studyDesc {
  padding: 4px;
  font-size: 1.3rem;
  line-height: 2rem;
}

/* SKILLS */
.skillsWrap {
  padding: 0 50px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.use span {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 8px;
}

/* WORKS */
#works {
  padding: 0 50px;
}

.preview {
  width: 75%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-evenly;
}

.preview img {
  width: 24%;
  cursor: pointer;
  outline: 1px solid #c9c9c9;
}

.tabWrap {
  width: 75%;
  height: 50%;
  margin: 0 auto;
}

.tabTitle {
  display: flex;
  position: absolute;
  z-index: 5;
}

.tab {
  background-color: #999999;
  color: #eee;
  padding: 10px 20px;
  margin-right: 2px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabOn {
  background-color: #e7e7e7;
  color: #eb7979;
  font-weight: bold;
}

.contentWrap {
  position: absolute;
  margin-top: 37px;
  width: 70%;
}

.project {
  background-color: #e7e7e7;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  display: none;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.contentOn {
  display: flex;
}

.project img {
  max-width: 60%;
  margin-right: 20px;
}

.projectDesc {
  width: 30%;
}

.project span,
.project p,
.project a {
  display: block;
  padding: 4px 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.project span {
  font-size: 1.5rem;
  margin: 16px 0;
}

/* CONTACT */
#contact {
  position: relative;
}

.contactDesc{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.contactDesc p {
  font-size: 2.5em;
  text-align: center;
}

.faWrap {
  width: 300px;
  margin: 60px auto;
}

/* footer */
footer {
  height: 100px;
  background: #555;
  color: #eee;
  text-align: center;
  padding-top: 20px;
}

footer span {
  display: block;
  padding: 4px;
}